body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('./img/header.jpg') no-repeat center center/cover;
    color: black;
    width: 100%;
    height: 730px; /* Mantén la altura de la imagen */
    margin: 0;
}

.titulo h1, .titulo p {
    margin: 0; /* Elimina márgenes para un mejor centrado */
}

.titulo h1 {
    margin-bottom: 10px; /* Espacio entre el h1 y el párrafo */
}

.proyectos {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente si es necesario */
    flex-direction: column; /* Asegura que el título y la cuadrícula estén en columna */
    padding: 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 70px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra la cuadrícula horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente dentro de las celdas */
    max-width: 900px; /* Limita el ancho máximo de la cuadrícula */
    margin: 0 auto; /* Centra la cuadrícula dentro de su contenedor */
}

.grid img {
    width: 100%;
    max-width: 300px; /* Tamaño máximo de las imágenes */
    display: block; /* Elimina el espacio extra debajo de las imágenes */
    margin: 0 auto; /* Centra las imágenes dentro de sus celdas */
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(11, 176, 143);
    color: rgb(255, 255, 255);
    margin: 0;
    width: 100%;
}	

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}